:root {
  /* Color */
  --color-primary: #8869f7;
  --color-secondary: #eaba8a;
  --color-tertiary: #84bc92;
  --color-dark: #191011;
  --color-light: #faf9fc;
  --color-silver: #e9f1f7;

  /* Type scale */
  --base-size: 1.25rem;
  --type-scale: 1.25;
  --h5: calc(var(--base-size) * var(--type-scale));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));
}

* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  margin: 0;
  color: #555;
  font-family: mallory, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-size: 18px;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

body > div {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
}

strong {
  color: #222;
}

li {
  margin-top: 0.25rem;
}

pre {
  overflow-x: scroll;
  padding: 1rem;
  border-radius: 5px;
}

.rock-salt {
  font-family: 'Rock Salt';
}

/* Stacks  */
.stack {
  --stack-space: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack:only-child {
  height: 100%;
}
.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--stack-space);
}

/* Implement Type Scale */

p {
  font-size: var(--base-size);
}

h1,
.hdg-1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2,
.hdg-2 {
  font-size: var(--h2);
}

h3,
.hdg-3 {
  font-size: var(--h3);
}

h4,
.hdg-4 {
  font-size: var(--h4);
}

h5,
.hdg-5 {
  font-size: var(--h5);
}

small,
.text_small {
  font-size: calc(var(--base-size) / var(--type-scale));
}

@media (max-width: 768px) {
  :root {
    --base-size: 1rem;
  }
}
