.hdg-1,
.hdg-2,
.hdg-3,
.hdg-4,
.hdg-5,
.hdg-6 {
  font-family: 'Livvic', sans-serif;
  color: #222;
  line-height: 1.1;
  -webkit-font-smoothing: antialiased;
}

.rock-salt {
  font-family: 'Rock Salt';
}

/* Stacks  */
.stack {
  --stack-space: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack:only-child {
  height: 100%;
}
.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--stack-space);
}

/* Implement Type Scale */

.hdg-1 {
  margin-top: 0;
  font-size: var(--s1);
}

.hdg-2 {
  font-size: var(--s2);
}

.hdg-3 {
  font-size: var(--s3);
}

.hdg-4 {
  font-size: var(--s4);
}

.hdg-5 {
  font-size: var(--s5);
}

.text_small {
  font-size: calc(var(--base-size) / var(--type-scale));
}

.livvic {
  font-family: 'Livvic', sans-serif;
}

.margin-top\:0 {
  --stack-space: var(--s0);
  margin-top: var(--s0);
}
.margin-top\:1 {
  --stack-space: var(--s1);
  margin-top: var(--s1);
}
.margin-top\:2 {
  --stack-space: var(--s2);
  margin-top: var(--s2);
}
.margin-top\:3 {
  --stack-space: var(--s3);
  margin-top: var(--s3);
}
.margin-top\:4 {
  --stack-space: var(--s4);
  margin-top: var(--s4);
}
.margin-top\:5 {
  --stack-space: var(--s5);
  margin-top: var(--s5);
}
.margin-top\:-1 {
  --stack-space: var(--s-1);
  margin-top: var(--s-1);
}
.margin-top\:-2 {
  --stack-space: var(--s-2);
  margin-top: var(--s-2);
}
.margin-top\:-3 {
  --stack-space: var(--s-3);
  margin-top: var(--s-3);
}
.margin-top\:-4 {
  --stack-space: var(--s-4);
  margin-top: var(--s-4);
}
.margin-top\:-5 {
  --stack-space: var(--s-5);
  margin-top: var(--s-5);
}
