:root {
  /* Color */
  --color-primary: #8869f7;
  --color-primary-rgb: 136, 105, 247;
  --color-secondary: #eaba8a;
  --color-tertiary: #84bc92;
  --color-dark: #191011;
  --color-light: #faf9fc;
  --color-silver: #e9f1f7;

  /* Type scale */
  --base-size: 1.25rem;
  --type-scale: 1.25;
  --h5: calc(var(--base-size) * var(--type-scale));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));
}
